@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Korataki';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/korataki.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Lato-Medium') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Lato-SemiBold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

$main-fonts: 'Lato', sans-serif;
$second-fonts: 'Korataki', sans-serif;

$main-white: rgb(255, 255, 255);
$main-dark-bg: rgb(30, 30, 30);
$main-dark-text: rgb(35, 24, 21);
$main-gray: rgb(128, 128, 128);

$accent-orange: rgb(228, 83, 2);